.idea/
bin/
*.exe
*.test
*.out
.env
vendor/

# Agents
.agent
.amazonq
.augment
.claude
.cline
.clinerules
.codebuddy
.codex
.continue
.cospec
.crush
.cursor
.factory
.gemini
.github/*
.iflow
.kilocode
.opencode
.qoder
.qwen
.roo
.trae
.windsurf

# CI/CD
!.github/workflows/